<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button">
              <i class="fas fa-bars"></i>
          </a>
      </li>
  </ul>

  <ul class="navbar-nav ml-auto">
      <!-- Fund Notifications -->
      <li class="nav-item" *ngIf="userRole === 'manager'">
          <a class="nav-link" [routerLink]="'/pending-requests'" title="Pending Fund Requests">
              <i class="fas fa-file-alt"></i>
              <span class="badge badge-warning">{{ counts.pendingFundsCount }}</span>
          </a>
      </li>
      <li class="nav-item" *ngIf="canAccess([{ department: 'Monitoring, Evaluation, Accountability and Learning', designations: ['Manager', 'Senior Programme Officer'] }])">
          <a class="nav-link" [routerLink]="'/m-and-e-review-list'" title="M&E Review Requests">
              <i class="fas fa-hourglass-start"></i>
              <span class="badge badge-warning">{{ counts.mandeReviewCount }}</span>
          </a>
      </li>
      <li class="nav-item" *ngIf="canAccess([{ department: 'Finance', designations: ['Finance Manager', 'Finance Assistant'] }])">
          <a class="nav-link" [routerLink]="'/finance-list'" title="Finance Fund Review Requests">
              <i class="fas fa-money-check-alt"></i>
              <span class="badge badge-warning">{{ counts.financeReviewFundsCount }}</span>
          </a>
      </li>
      <li class="nav-item" *ngIf="canAccess([{ department: 'Directorate', designations: ['Country Director'] }])">
          <a class="nav-link" [routerLink]="'/reviewed-requests'" title="Director Reviews">
              <i class="fas fa-user-check"></i>
              <span class="badge badge-warning">{{ counts.directorReviewFundsCount }}</span>
          </a>
      </li>
      
      <!-- Leave Notifications -->
      <!-- <li class="nav-item" *ngIf="userRole === 'manager'">
          <a class="nav-link" [routerLink]="'/manager-review'" title="Pending Leave Requests">
              <i class="fas fa-calendar-alt"></i>
              <span class="badge badge-warning">{{ counts.pendingLeaveCount }}</span>
          </a>
      </li> -->
      <li class="nav-item" *ngIf="userRole === 'manager'">
          <a class="nav-link" [routerLink]="'/manager-review'" title="Manager Leave Reviews">
              <i class="fas fa-user-tie"></i>
              <span class="badge badge-warning">{{ counts.pendingLeaveCount }}</span>
          </a>
      </li>

      <li class="nav-item" *ngIf="canAccess([{ department: 'Finance', designations: ['Finance Manager', 'Finance Assistant'] }])">
        <a class="nav-link" [routerLink]="'/finance-leave-review'" title="Finance Leave Reviews">
            <i class="fas fa-briefcase"></i>
            <span class="badge badge-warning">{{ counts.financeReviewLeaveCount }}</span>
        </a>
    </li>

      <li class="nav-item" *ngIf="canAccess([{ department: 'Admin and HR', designations: ['HR Manager'] }])">
          <a class="nav-link" [routerLink]="'/hr-leave-review'" title="HR Leave Reviews">
              <i class="fas fa-briefcase"></i>
              <span class="badge badge-warning">{{ counts.hRReviewLeaveCount }}</span>
          </a>
      </li>
      <li class="nav-item" *ngIf="canAccess([{ department: 'Directorate', designations: ['Country Director'] }])">
          <a class="nav-link" [routerLink]="'/leave-approval'" title="Director Leave Approvals">
              <i class="fas fa-calendar-check"></i>
              <span class="badge badge-warning">{{ counts.directorReviewLeaveCount }}</span>
          </a>
      </li>

      <!-- Vehicle Requests -->
      <li class="nav-item" *ngIf="canAccess([{ department: 'Admin and HR', designations: ['Manager', 'Senior Programme Officer'] }])">
          <a class="nav-link" [routerLink]="'/pending-vehicle-requests'" title="Pending Vehicle Requests">
              <i class="fas fa-car"></i>
              <span class="badge badge-warning">{{ counts.vehicleRequests }}</span>
          </a>
      </li>

      <!-- Permission Requests -->
      <li class="nav-item" *ngIf="canAccess([{ department: 'Admin and HR', designations: ['Manager', 'HR Manager'] }])">
          <a class="nav-link" [routerLink]="'/supervisor-approval'" title="Pending Permissions">
              <i class="fas fa-envelope-open-text"></i>
              <span class="badge badge-warning">{{ counts.pendingPermissionRequestsCount }}</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
          </a>
      </li>
  </ul>
</nav>
