.form-navigation-button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.btn-previous {
  background-color: #6c757d; /* A shade of gray */
  color: white;
}

.btn-next {
  background-color: #007bff; /* A shade of blue */
  color: white;
}

.btn-submit {
  background-color: #28a745; /* A shade of green */
  color: white;
}

.form-navigation-button:hover {
  opacity: 0.9;
}
