<!-- Start of AdminLTE meeting minute detail page enhanced for a modern and aesthetic appeal -->
<div class="content" id="print-section">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Meeting Details</h1>
        </div>
        <div class="col-sm-6">
          <div class="row no-print">
            <div class="col-12 text-right">
              <button printSectionId="print-section" ngxPrint [useExistingCss]="true" class="btn btn-primary"><i class="fas fa-print"></i> Print</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-secondary">
              <h3 class="card-title text-white">{{ meetingMinute?.title || 'Meeting Title' }}</h3>
            </div>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-4">Meeting Date:</dt>
                <dd class="col-sm-8">{{ meetingMinute?.meetingDate | date:'fullDate' }}</dd>
                <dt class="col-sm-4">Created By:</dt>
                <dd class="col-sm-8">{{ getEmployeeNameByStaffId(meetingMinute?.createdBy) }}</dd>
                <!-- <dt class="col-sm-4">Created At:</dt>
                <dd class="col-sm-8">{{ meetingMinute?.createdAt | date:'fullDate' }}</dd> -->
              </dl>

              <div class="row">
                <div class="col col-6">
                  <div class="callout callout-info">
                    <h5>Points Discussed</h5>
                    <ul>
                      <li *ngFor="let point of meetingMinute?.pointsDiscussed">{{ point }}</li>
                    </ul>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="callout callout-info">
                    <h5>Decisions Made</h5>
                    <ul>
                      <li *ngFor="let decision of meetingMinute?.decisionsMade">{{ decision }}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col col-6">
                  <div class="callout callout-info">
                    <h5>Action Items</h5>
                    <ul>
                      <li *ngFor="let actionItem of meetingMinute?.actionItems">{{ actionItem }}</li>
                    </ul>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="callout callout-info">
                    <h5>Agenda Items</h5>
                    <ul>
                      <li *ngFor="let item of meetingMinute?.agenda">{{ item }}</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6">
                  <strong>Participants:</strong>
                  <ul>
                    <li *ngFor="let participant of meetingMinute?.participants">{{ getEmployeeNameById(participant) }}</li>
                  </ul>
                </div>

                <div class="col-md-6">
                  <strong>Non Staff:</strong>
                  <ul>
                    <li *ngFor="let nonStaffMember of meetingMinute?.nonStaffMembers">{{nonStaffMember }}</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <strong>Meeting Roles:</strong>
                  <p>Secretary: {{ getEmployeeNameById(meetingMinute?.secretary) }}</p>
                  <p>Chairperson: {{ getEmployeeNameById(meetingMinute?.chairperson) }}</p>
                </div>
                <div class="col-md-6">
                  <strong>Absent with Apology:</strong>
                  <ul>
                    <li *ngFor="let participant of meetingMinute?.absentWithApology">{{ getEmployeeNameById(participant) }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title">Secretary Signature</h3>
            </div>
            <div class="card-body text-center">
              <img class="img-fluid img-circle" *ngIf="meetingMinute?.secretarySignature" [src]="meetingMinute?.secretarySignature" alt="Secretary's Signature" style="max-width: 100px; height: auto;">
              <p class="text-muted" *ngIf="!meetingMinute?.secretarySignature">No signature provided</p>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title">Chairperson Signature</h3>
            </div>
            <div class="card-body text-center">
              <img class="img-fluid img-circle" *ngIf="meetingMinute?.chairpersonSignature" [src]="meetingMinute?.chairpersonSignature" alt="Chairperson's Signature" style="max-width: 100px; height: auto;">
              <p class="text-muted" *ngIf="!meetingMinute?.chairpersonSignature">No signature provided</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
