/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media print {
  .print-container {
    /* Styles for printing */
  }
  /* Hide other elements not needed for printing */
  .navbar, .footer, .non-print-elements {
    display: none;
  }
}
